
*.csproj
/2.1.7-FirstProgram/obj
/2.2.5-MethodCall/obj
/2.2.7-ConditionIf/obj
/2.3.5-SubscriptionRenovation/obj
/2.4.2-MatrixArrays/obj
/2.4.3-ForEach/obj
/2.4.4-ArrayChallenge/obj
/2.5.3-Comments/obj
/2.5.4-BlankSpace/obj
/2.6.3-MatrixAndForeach/obj
/2.6.4-ExerciseLoopStudentRankCalc/obj
/2.6.5-ExerciseBranches/obj
/3.1.2-BooleanExpressions/obj
/3.1.3-ImplementConditionalOperator/obj
/3.1.5-ChallengeHeadsTails/obj
/3.1.7-ChallengeLevelAndPermission/obj
/3.2.2-CodeblocksVariableScope/obj
/3.2.3-RemoveCodeblocksIf/obj
/3.2.5-ChallengeVariableScope/obj
/3.3.2-SwitchCase/obj
/3.3.4-ChallengeSwitchCase/obj
/3.4.2-ForLoop/obj
/3.4.6-ExerciseForLoop/obj
/3.5.2-ExerciseDoWhile/obj
/3.5.4-ChallengeRPGDoWhile/obj
/3.5.6.1-ExercisesSolutionsDoWhile1/obj
/3.5.6.2-ExercisesSolutionsDoWhile2/obj
/3.5.6.3-ExercisesSolutionsDoWhile3/obj
/3.6-RamifiedConditionalStructuresLoop/obj
/4.1.3-Integer/obj
/4.1.4-Float/obj
/4.1.5-ReferenceTypes/obj
/4.2.2-DataTypeConversion/obj
/4.2.3-TryParse/obj
/4.2.5-ChallengeConvertDataType/obj
/4.2.6-ChallengeConvertDataType2/obj
/4.3.2-SortResize/obj
/4.3.3-ClearResize/obj
/4.3.4-SplitJoin/obj
/4.3.6-ChallengeTextReversedWords/obj
/4.3.8-ChallengeAnalyzeCharChain/obj
/4.4.2-BasicNotionsFormatCharChain/obj
/4.4.3-InterpolationCharChain/obj
/4.4.4-DiscoverFillAlignment/obj
/4.4.6-ChallengeInterpolationCharChain/obj
/4.5.2-IndexOfSubstring/obj
